body {
}

.mekasa-header {
  height: 500px;
  background: url("../images/banner.jpg");
  background: 100%, auto;
  text-align: center;
  margin-bottom: 3em;
}


.mekasa-navbar {
  position: absolute;
  width: 100%;
  background: rgba(0, 0,0, 0.3);
}

.mekasa-navbar img {
  height: 50px;
}

.mekasa-searchbar {
  width: 50%;
  background: rgba(0,0,0, 0.3);
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.mekasa-tagline {
  display: block;
  color: white;
  font-family: Helvetica, Arial;
  font-size: 1.7em;
  margin-top: -180px;
  margin-left: auto;
  margin-right: auto;
}

.img-header img {
  width: 100%;
}

.mekasa-header:before {
  height: 100%;
  content: ' ';
  display: inline-block;
  vertical-align: middle;
}

.mekasa-categories {
  background-color: gray;
  height: 300px;
  margin: 10px 0 30px 0;
}

input.mekasa-inputtext { 
  width: 100%;
  padding: 10px 0 10px 20px;
  outline: 0;
  border: 0;
  vertical-align: middle;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  
  font-family: Lato, Arial;
  font-size: 1.6em;
  color: #777;
  font-weight: bold;
}

input.mekasa-inputtext:active, input.mekasa-inputtext:hover {
  border: 0;
  outline: 0;
}

input.mekasa-inputtext:focus {
  font-weight: normal;
}
